.layout{
    display: flex;
}

.icon{
    box-sizing: border-box;
    background-color: rgb(13, 13, 196);
    width: 2%;
    padding-left: .5%;
    font-weight: bolder;
    font: 'Roboto', sans-serif;
    color: white;
    border-radius: 3px;
}