.addSite {
    position: absolute;
    width: 120px;
    height: 36px;
    left: 100px;
    top: 50px;
    
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    
    display: flex;
    align-items: center;
    letter-spacing: 0.16px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    
    color: rgba(64, 123, 255, 0.3);
    
    text-shadow: 0px 0px 10px #FFFFFF;
}