.logo {
    box-sizing: border-box;
    width: 25%;
    height: 150px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    padding-top: 60px;
    cursor: pointer;
}

.logo:hover{
    background-color: rgb(238, 237, 237);
}

.sitePaper {
    width: 90%;
    padding: 20px
}

.paperHead {
    font-weight: bolder;
    font: 'Roboto', sans-serif;
}

#filled-basic{
    height: 25px;
}

.MuiFilledInput-root{
    border-radius: 5px;
}