.floorDiv {
width: 363px;
height: 300px;
margin-left: 55px;
margin-top: 20px;

background: #F2F2F2;
border-radius: 20px;
}

.floorName {
    /* position: absolute; */
width: 46px;
height: 27px;
margin-left: 25px;
margin-top: 35px;

font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
/* identical to box height */

display: flex;
align-items: center;
letter-spacing: 0.16px;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #407BFF;

text-shadow: 0px 0px 10px #FFFFFF;
}

.formDisplay {
    display: flex;
}

.floorNameInput {
    position: absolute;
width: 165px;
height: 55px;
left: 110px;
top: 18px;

background: #FFFFFF;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
border-radius: 15px;
}

.line {
    margin-top: 100px
}

.openDesk {
    /* position: absolute; */
width: 46px;
height: 27px;
margin-left: 25px;
margin-top: 35px;

font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
/* identical to box height */

display: flex;
align-items: center;
letter-spacing: 0.16px;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #407BFF;

text-shadow: 0px 0px 10px #FFFFFF;
}

.busyDesk {
    /* position: absolute; */
width: 46px;
height: 27px;
margin-left: 25px;
margin-top: 35px;

font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
/* identical to box height */

display: flex;
align-items: center;
letter-spacing: 0.16px;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #407BFF;

text-shadow: 0px 0px 10px #FFFFFF;
}

.uploadButton {
    width: 45px !important;
    height: 60px !important;
    margin-top: 15px;
    margin-left: 159px;
    color: #407BFF;
}

.uploadButton :hover {
    cursor: pointer;
    color: #1c64ff;
}

.uploadText {
    font-family: 'Poppins', sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 27px;
letter-spacing: 0.1599999964237213px;
text-align: center;
color: #407BFF;
margin-bottom: 5px !important;
margin-top: 5px;

}

.helpText {
    margin-top: 0px !important;
    font-family: 'Poppins', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 21px;
letter-spacing: 0.1599999964237213px;
text-align: center;
color: #407BFF;
}