.box {
    position: absolute;
    width: 363px;
    height: 70px;
    left: 101px;
    top: 130px;

    background: #F2F2F2;
    border-radius: 20px;
    display: flex
}

.name {
    position: absolute;
    width: 96px;
    height: 27px;
    left: 25px;
    top: 21px;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
/* identical to box height */

    display: flex;
    align-items: center;
    letter-spacing: 0.16px;
    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #407BFF;

    text-shadow: 0px 0px 10px #FFFFFF;
}

.nameInput {
    width: 165px;
    height: 55px;
    border-radius: 15px;
    position: absolute;
    top: 7px;
    left: 180px;
    background: white;
}

.MuiOutlinedInput-root {
    border-radius: 15px !important;
}