.locationBox {
    position: absolute;
    width: 780px;
    height: 70px;
    left: 486px;
    top: 130px;

    background: #F2F2F2;
    border-radius: 20px;
    margin-left: 22px;
}

.location {
    position: absolute;
width: 80px;
height: 27px;
left: 25px;
top: 21px;

font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
/* identical to box height */

display: flex;
align-items: center;
letter-spacing: 0.16px;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #407BFF;

text-shadow: 0px 0px 10px #FFFFFF;
}

.locationInput {
    position: absolute;
width: 363px;
height: 55px;
left: 190px;
top: 7px;
border-radius: 15px;
background: white;
}

.pickButton {
    position: absolute;
width: 121px;
height: 27px;
left: 640px;
top: 21px;

font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 27px;
/* identical to box height */

display: flex;
align-items: center;
letter-spacing: 0.16px;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #407BFF;

text-shadow: 0px 0px 10px #FFFFFF;
}
