apiVersion: v1
kind: Service
metadata:
  labels:
    app: employee-service
  name: employee-service
  namespace: kanwalnainsingh
spec:
  ports:
  - port: 8083
    protocol: TCP
    targetPort: 8083
  selector:
    app: employee-service
  type: ClusterIP
